<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logLayout"
		  layout="${longdate} [ThreadId:${threadid}] [${level}] ${message} ${exception:format=tostring,stacktrace}" />

	<targets async="true">
		<target xsi:type="File" 
				name="logfile" 
				fileName="${basedir}/log/log${date:yyyyMMdd}.txt" 
				layout="${logLayout}"/>
		
		<target xsi:type="Console" 
				name="logconsole" 
				encoding="utf-8" 
				layout="${logLayout}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
	</rules>
</nlog>